#honkaitier {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
h2.h-tipe {
  position: relative;
  border-bottom: 2px solid var(--linkC);
  padding-bottom: 10px;
  font-size: 1.35rem;
  text-transform: uppercase;
}
h2.h-tipe::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 2px;
  background-color: rgb(240, 113, 37);
  margin: 0 0 -2px;
}
.onItm .pS h3 {
  font-size: 1.25rem;
}
.honkaich {
  display: grid;
  gap: 15px;
  font-size: .9rem;
  grid-template-columns: 125px auto;
}
.honkaich[title^="FIRE DPS"], .honkaich[title^="FIRE SUPPORT"] {
  padding: 5px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(236, 0, 0, 0.17));
  border-radius: 4px;
}
.honkaich[title^="LIGHTNING DPS"], .honkaich[title^="LIGHTNING SUPPORT"] {
  padding: 5px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(90, 0, 140, 0.17));
  border-radius: 4px;
}
.honkaich[title^="ICE DPS"], .honkaich[title^="ICE SUPPORT"] {
  padding: 5px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 171, 255, 0.17));
  border-radius: 4px;
}
.honkaich[title^="PHYSICAL DPS"], .honkaich[title^="PHYSICAL SUPPORT"] {
  padding: 5px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 179, 0, 0.17));
  border-radius: 4px;
}
.honkaich span:first-child {
  position: relative;
}
.honkaich span[title~=EX]:first-child {
}
.honkaich span:first-child b {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
  background: #8775f5;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  box-shadow: 0 2px 6px -1px rgba(7,10,25,.2),0 6px 12px -6px rgba(7,10,25,.2);
}
.honkaich span:last-child > * {
  display: block;
  line-height: 25px;
}
.honkaich span:last-child > i {
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    font-size: .75rem;
    border: 1px solid rgba(119, 119, 119, 0.19);
    padding: 5px;
    line-height: 18px;
}
